{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="w-50 mx-auto">
            <form id ="chat_message_form" action = "/" method = "POST" enctype = "multipart/form-data">
                <div class="form-group">
                    <label for="question">Question:</label>
                    <textarea name="question" id="question" class="form-control" rows="5"></textarea>
                </div>
                <button type="button" id="btn_submit" class="btn btn-success">Submit</button>
            </form>
            <div class="mt-5">
                Answer is: <span class="answer"></span>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
       $("#btn_submit").click(function (e) {
           let data = $("#chat_message_form").serialize();
           $.ajax({
                url: "/",
                type: "POST",
                data: data,
                success: function (data) {
                    console.info(data)
                    if (data.status === "success") {
                        console.log("success")
                    } else {
                        console.log("fail")
                    }
                },
                error: function (data) {
                    console.log(data)
                }
            });
       })
    });
</script>
{% endblock script %}